:root {
    --backgroundHeader: #ffffff;
    --foregroundHeader: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --backgroundHeader: #161616;
        --foregroundHeader: #ededed;
    }
}

.header-content {
    border-radius: 10px;
    width: 100%;
    display: flex;
    padding: 12px 15px;
    background-color: var(--backgroundHeader);
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ul-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 50px;
}